.test {
    height: 100%;
}

/*  */

/* .sidebar {
    position: fixed;
    height: 100%;
    left: 0;
    width: 579px;
    background-color: gray;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 576px;
} */

.content {
    height: 100vh;
}
iframe {
    width: 100%;
    height: 100%;
    margin-right: auto;

}